#dayDiv #daySmall {
   overflow:auto;
   height:calc(100vh - 100px);;
}
#dayDiv #reason {
   padding:0px 30px 0px 30px;
   font-size:2em;
   font-weight:500;
}

#dayDiv #balancediv {
   width:100%;
   text-align:center;
   padding:20px 0px 30px 0px;
}
#dayDiv #balancediv p{
    font-size:0.8em;
    color:var(--text-color2);
}
#dayDiv #balancediv h1{
   font-size:4em;
   font-weight:400;
   color:var(--main-text-color);
}
#dayDiv #sliderContainer {
   height:7px;
   width:90%;
   margin-left:5%;
   background:rgba(150,150,150,0.4);
   border-radius:10px;
   overflow:hidden;
}
#dayDiv #sliderContainer #slider {
   height:7px;
   width:25%;
   background:var(--hr-grad-color);
   border-radius:10px;
}
#dayDiv #completed, #needed {
 // position:absolute;
  margin-top:5px;
  font-weight:500;
  font-size:0.9em;
  display:inline-block;
  width:49%;
}
#dayDiv #completed {
  padding-left:5%;
}
#dayDiv #needed {
   text-align:right;
   padding-right:5%;
}
#dayDiv #boxDiv {
   width:100vw;
   height:67.5vw;
   //height:30vw;
   display:flex;
   justify-content:space-evenly;
   align-items:center;
   flex-wrap:wrap;
   margin-top:5px;
   align-content:space-evenly;
}
#dayDiv #boxDiv .smallbox {
   height:30vw;
   width:30vw;
   //background:rgba(30, 144, 255,0.03);
   //background: dodgerblue;
   background:transparent;
   border-radius:7px;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction: column;
   //margin-top:10px;
   //color:white;
   //color:black;
   //border:1px solid rgba(30, 144, 255,1);
   //border:1px solid var(--text-color2);
   //transition:0.1s background;
   //background:var(--sub-theme-color);
   //box-shadow:var(--box-shadow);
   background:var(--box-color);
   
}
#dayDiv #boxDiv .smallbox:active  {
   background:rgba(30, 144, 255,0.15);
}
#dayDiv #boxDiv .smallbox p{
   font-size:0.8em;
   //color:#999;
   //color:var(--main-text-color);
}
#dayDiv #boxDiv .smallbox h1{
   font-size:2em;
   padding:5px;
   font-weight:400;
   //color:white;
}
#extraNoti {
   padding:0px 20px 0px 20px;
   margin-top:0;
   font-size:1em;
   color:var(--main-color);
   margin-bottom:60px;
}
/*#startAndEnd {
  padding:0px 0px 0px 20px;
  margin-top:30px;
  font-size:0.9em;
  color:var(--main-color);
}
#willEnd {
  padding:0px 20px;
  font-size:0.9em;
  color:var(--main-color);
  margin-bottom:60px;
}
*/
////////////////
////////////////