@font-face{
   src:url("GooglePlayRegular.ttf");
   font-family:Google;
}
@font-face{
   src:url("GoogleSans500.ttf");
   font-family:Google500;
}
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family:Google;
}
:root {
   --body-background:white;
   --text-color2:#aaa;
}
body {
   height:100vh;
   width:100%;
   background:var(--main-theme-color);
   color:var(--main-text-color);
   overflow:hidden;
}
#options {
   position:absolute;
   top:5px;
   right:5px;
   height:auto;
   width:200px;
   background:var(--sub-theme-color);
   z-index:10;
   display:none;
   border-radius:5px;
   box-shadow:var(--box-shadow);
   max-height:400px;
   overflow:hidden;
}
#options p{
   width:200px;
   padding:15px 0px 15px 20px;
   font-size:0.9em;
}
#options p:active {
   background:rgba(150,150,150,0.2);
}
#fullscreendiv {
   position:fixed;
   top:0; left:0;
   min-height:100vh;
   width:100vw;
   display:none;
   z-index:9;
   background:rgba(0,0,0,0.05);
}
header {
   height:50px;
   width:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   background:var(--main-theme-color);
}
header h1{
   font-size:1.3em;
   font-weight:500;
   color:var(--main-text-color);
   font-family:Google500;
}
header img {
   position:absolute;
   right:0px;
   height:50px;
   filter:var(--dark-icons);
}

#header2 {
   height:50px;
   width:100%;
   display:flex;
   justify-content:space-evenly;
   align-items:center;
   background:var(--main-theme-color);
}
#header2 p{
   padding:10px 20px;
   font-size:0.8em;
   font-weight:500;
   color:#aaa;
   transition:0.1s color;
}
#header2 .day {
   color:var(--main-color);
}
/*#content {
   width:400vw;
   height:200px;
   background:red;
   position:fixed;
   
}*/
#content #yearDiv,#monthDiv,#dayDiv,#weekDiv {
   background:var(--main-theme-color);
   min-height:calc(100vh - 100px);
   width:100vw;
   position:fixed;
   top:0;
   display:none;
   z-index:1;
   margin-top:100px;
   overflow:auto;
}
#content #dayDiv {
   background:var(--main-theme-color);
   display:inline-block;
}
#content #weekDiv {
  //display:inline-block;
}
#content #monthDiv {
  
}
#content #yearDiv {
   //display:inline-block;
}

#floating,#floating2  {
   position:fixed;
   bottom:15px; right:20px;
   z-index:100;
   font-size:0.9em;
   //box-shadow:var(--box-shadow);
   border-radius:100px;
   color:var(--main-color);
   padding:14px 20px;
   white-space:pre;
  // background:var(--sub-theme-color);
   background:var(--sub-color);
   transition:0.1s transform;
}
#floating2 {
   background:var(--main-theme-color);
   z-index:99;
   box-shadow:0 0 0 white;
   color:RGB(0,0,0,0);
}

#floating:active {
   //background:rgba(30, 144, 255,0.15);
   transform:scale(0.9);
}

#themeDiv {
  position:fixed;
  height:350px;
  width:calc(100vw - 16px);
  margin-left:8px;
  background:var(--sub-theme-color);
  bottom:8px;
  z-index:100;
  border-radius:20px;
  box-shadow:0 0 0px 1000vh rgba(0,0,0,0.6);
  display:none;
  bottom:-100vh;
}
#themeDiv h1{
  font-size:1em;
  padding:20px;
  font-weight:400;
}
#themeDiv img {
   position:absolute;
   width:27px;
   padding:5px;
   top:15px;
   right:15px;
   background:rgba(150,150,150,0.15);
   border-radius:50%;
   filter:var(--dark-icons);
   transition:0.2s top;
}
#themeDiv #themes {
   height:260px;
   width:100%;
   display:flex;
   justify-content:space-evenly;
   align-items:space-evenly;
   flex-wrap:wrap;
   overflow:auto;
}
#themeDiv #themes div{
   height:50px;
   width:50px;
   border-radius:50%;
   margin:7px;
}
#themeDiv #themes div:hover{
   box-shadow:0px 0px 0px 10px rgba(150,150,150,0.2);
}