1#content #yearDiv #notes {
   overflow:auto;
   height:calc(100vh - 100px);;
}
#notes #notesHeader {
   height:50px;
   //border:1px solid black;
   display:flex;
   align-items:center;
   justify-content:flex-end;
   padding:0px 20px;
   position:fixed;
   top:100px;
   width:100%;
   background:var(--main-theme-color);
}
#notes #notesHeader img{
   height:25px;
   filter:var(--dark-icons);
   margin:10px;
}
#notes #notesHeader img:active {
   background:rgba(200,200,200,0.2);
}
#notes #notesHeader #del{
   opacity:0.85;
}
#notes #notesHeader p{
   position:absolute;
   left:20px;
   font-size:0.8em;
   color:gray;
}
#notes #note {
   margin-top:60px;
   font-size:1em;
   font-weight:400;
   padding:0 20px;
   //text-align:justify;
   //text-indent:10px;
   //line-height:1.5em;
   margin-bottom:100px;
}
#notes #note h1{
   font-weight:400;
}