@font-face{
   src:url("GooglePlayRegular.ttf");
   font-family:Google;
}
@font-face{
   src:url("GoogleSans400.ttf");
   font-family:Google400;
}
@font-face{
   src:url("GoogleSans500.ttf");
   font-family:Google500;
}
@font-face{
   src:url("GoogleSans700.ttf");
   font-family:Google700;
}
*{
   margin:0;
   padding:0;
   font-family:Google;
   box-sizing:border-box;
}
body {
   background:var(--main-theme-color);
   color:var(--main-text-color);
   transition-duration:0.2s;
   transition-property:background-color, opacity;
}
header {
   height:55px;
   width:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   position:fixed;
   top:0;
   background:var(--main-theme-color);
   z-index:100;
   transition-duration:0.2s;
   transition-property:background-color,color;
}
header h1{
   font-size:1.1em;
   font-weight:500;
   color:var(--main-text-color);
   font-family:Google500;
   transition-duration:0.2s;
   transition-property:color;
}
header img:active {
   opacity:0.5;
}
header #left{
   position:absolute;
   left:5px;
   height:45px;
   filter:var(--dark-icons);
}
header #right{
   position:absolute;
   right:5px;
   height:45px;
   filter:var(--dark-icons);
}
#content {
   margin-top:55px;
   height:auto;
   width:100%;
   padding-bottom:100px;
}
#content #options {
   height:60px;
   width:100%;
   //border:1px solid black;
   display:flex;
   justify-content:center;
   align-items:center;
   //padding:0px 20px;
   transition-duration:0.2s;
   transition-property:background-color,color;
}
#content #options:active {
   background:rgba(180,180,180,0.1);
}
#content #options p{
   font-size:0.95em;
   position:absolute;
   left:25px;
   font-family:Google500;
}
#content #options #noti {
  background:red;
  position:absolute;
  right:50px;
  height:22px;
  width:22px;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  font-size:0.7em;
  visibility:hidden;
}
#content #options img {
   position:absolute;
   width:37px;
   right:10px;
   transform:rotate(180deg);
   opacity:0.6;
   filter:var(--dark-icons);
}
#content #line {
   height:1px;
   width:90%;
   transition:0.2s background;
   background:var(--box-color);
   margin:15px 5%;
}

a{
   text-decoration:none;
   color:var(--main-text-color);
}